/kernelsmlProject/__pycache__/**
/__pycache__/**
/kernelsmlProject/kernels/__pycache__/**
/FinalVersion/__pycache__/**
/FinalVersion/kernelsmlProject/__pycache__/**
/FinalVersion/kernelsmlProject/kernels/__pycache__/**

